<h1>New Entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">
  <input type="hidden" name="entry[place_id]" value="<%= @place["id"] %>">

  <p>
    <input type="text" name="entry[title]" placeholder="Title">
  </p>

  <p>
    <textarea name="entry[description]" placeholder="What did you do?"></textarea>
  </p>

  <p>
    <input type="text" name="entry[date]" placeholder="Date (e.g. 2024-10-12)">
  </p>

  <button>Save Entry</button>
</form>

<%= csrf_meta_tags %>
